<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>E-commerce</title>
</head>
<body>
    <section>
        <form class="formulario" action="/users/create" method="post">
            <div class="nombre">
                <label for="name">nombre:</label>
                <input type="text" name="name" placeholder="ingrese su nombre">
            </div>
            <div class="correo">
                <label for="email">correo:</label>
                <input type="email" name="email" placeholder="ingrese un correo valido">
            </div>
            <div class="contrasenia">
                <label for="password">contraseña:</label>
                <input type="password" name="password" placeholder="evita contrasenia simple">
            </div>
            <div class="envio">
                <input type="submit" value="iniciar sesión">
            </div>
        </form>
    </section>
    <!-- <footer>
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div></div>
        <div></div>
    </footer> -->
</body>
</html>