*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

section{
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 2%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: 1px solid black;
    border-radius: 20px;
    background-color: brown;
}

form{
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}